/* google font: poppins, regular and bold */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

/* base css */
*{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    box-sizing: border-box;
}

/* reusable classes */
.container{
    width: 1050px;
}
.btn, .btn:link, .btn:visited{
    display: inline-block;
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
    color: #ffffff;
    background: #e02c6d;
    padding: 0.9rem 2.2rem;
    transition: all 0.2s;
}
.btn:hover{
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.3);
    transform: translateY(-3px)
}
.btn:hover span{
    display: inline-block;
    transform: translateX(5px);
    transition: all 0.2s;
}
.btn:focus, .btn:active{
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.2);
    transform: translateY(0px);
}

/* header css */
.header{
    width: 100%;
    background: #2d25a0;
    display: flex;
    justify-content: center;
    margin-bottom: 85px;
}
.header-content{
    height: 677px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header-content-info{
    width: 50%;
}
.header-content-info h1{
    font-size: 64px;
    font-weight: 700;
    color: #fff;
    line-height: 1.3;
    margin-bottom: 27px;
}
.header-content-img{
    width: 50%;
}
.header-content-img img{
    width: 556px;
    height: 438px;
}

/* main css */
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 85px;
}

/* player section css */
.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 27px;
}
.player{
    padding: 15px 15px 33px 15px;
    box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.15);
}
figure img{
    width: 300px;
    height: 256px;
    margin-bottom: 16px;
}
figure figcaption{
    color: #18191f;
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 10px;
}
.player p{
    color: #6c6c6c;
}

/* newsletter css */
.newsletter-section{
    margin-top: 85px;
}
.newsletter{
    background: #2d25a0;
    height: 550px;
    background-image: linear-gradient(112deg, #ffffffdc 50%, transparent 50%), linear-gradient(rgba(0, 0, 0, 0.651), black), url(images/messi.jpg);
    background-position: top right;
    padding: 4rem;
}
form{
    width: 380px;
    height: 400px;
}
.form-title{
    font-size: 40px;
    color: #2d25a0;
    margin-bottom: 2.5rem;
}
.form-title i{
    color: #e02c6d;
}
form input{
    display: block;
    width: 100%;
    border: 0;
    padding: 1rem 2rem;
    margin-bottom: 2.5rem;
    color: #2d25a0;
    font-size: inherit;
    font-size: 1rem;
}
form input:focus{
    outline: none;
    border-bottom: 3px solid #e02c6d;
}
.btn-submit{
    border: 0;
}
